<span>
    <a href="#!/new_secret" class="btn btn-info" role="button">+ New secret</a>
</span>
<hr/>
<span>
    <input type="checkbox" ng-model="cbShowValue">Show encrypted value</input>
</span>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Certificate Thumbprint</th>
        <th ng-show="cbShowValue">Value</th>
    </tr>
    <tr ng-repeat="sec in secrets">
        <td><span class="label label-info">{{sec.ID}}</span></td>
        <td><span class="label label-default">{{sec.CertificateThumbprint}}</span></td>

        <td ng-show="cbShowValue">{{sec.EncryptedValue}}</td>
    </tr>
</table>
