<div class="container">
    <div class="starter-template">

        <div class="container">
            <h1>
                <span class="label label-info">New PowerShell task</span>
            </h1>
            <h2>
                <span class="label label-info">{{newTaskDetails.name}}</span>
            </h2>

            <div class="row">
                <div class="col-md-2">
                    <h3>
                        <span class="label label-default">Script</span>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <em>Script supports embedded secrets via %%[ secret ]%%</em>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <textarea ng-model="taskScript" ng-required="true" style="min-width: 100%"></textarea>
                </div>
            </div>


        <img src="imgs/spinning_20.gif" ng-hide="!createInProgess" />
        <button type="button" ng-class="buttonClass"  ng-click="createTask()">Create</button>

        <h1>
            <span class="label label-danger">{{errorMessage}}</span>
        </h1>
    </div>
</div>