<div class="container">
    <div class="starter-template">

        <div class="container">
            <h1>
                <span class="label label-info">New T-SQL task</span>
            </h1>
            <h2>
                <span class="label label-info">{{newTaskDetails.name}}</span>
            </h2>

            <div class="row">
                <div class="col-md-2">
                    <h3>
                        <span class="label label-default">Connection string</span>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <em>Connection string supports embedded secrets via %%[ secret ]%%</em>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <textarea ng-model="connectionString" ng-required="true" style="min-width: 100%"></textarea>
                </div>
            </div>



            <div class="row">
                <div class="col-md-2">
                    <h3>
                        <span class="label label-default">Command timeout</span>
                    </h3>
                </div>
                <div class="col-md-5">
                    <h3>
                        <input type="number" min="0" ng-model="commandTimeout" />
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h3>
                        <span class="label label-default">Statement</span>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <em>Statement supports embedded secrets via %%[ secret ]%%</em>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <textarea ng-model="statement" ng-required="true" style="min-width: 100%"></textarea>
                </div>
            </div>
        </div>

        <img src="imgs/spinning_20.gif" ng-hide="!createInProgess" />
        <button type="button" ng-class="buttonClass"  ng-click="createTask()">Create</button>

        <h1>
            <span class="label label-danger">{{errorMessage}}</span>
        </h1>
    </div>
</div>