<h3>Execution queue</h3>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Inserted</th>
        <th>Task</th>
        <th>Sch</th>
    </tr>

    <tr ng-repeat="ex in executionQueue | orderBy: '-InsertDate'">
        <td>
            <span class="label label-info">
                {{ex.ID}}
            </span>
        </td>

        <td>
            <span class="label label-info">
                {{ex.Priority}}
            </span>
        </td>

        <td>
            <span class="label label-info">
                {{ex.InsertDate | date:'medium'}}
            </span>
        </td>

        <td>
            <a href="#!/task/{{ex.TaskID}}">
                <div class="row">
                    <div class="span4">
                        <span class="label label-info">
                            {{findTaskByID(ex.TaskID).Name}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <span class="label label-info">
                            {{findTaskByID(ex.TaskID).Type}} ({{findTaskByID(ex.TaskID).ID}})
                        </span>
                    </div>
                </div>
            </a>
        </td>

        <td>
            <span ng-show="ex.ScheduleID == undefined">
                <img src="imgs/overcome.png" title="Direct" />
            </span>
            <span ng-show="ex.ScheduleID != undefined">
                <a href="#!/schedule/{{ex.ScheduleID}}">
                   <img src="imgs/stopw_30.png"/>
               </a>
            </span>
        </td>
    </tr>

</table>


<h3>Running tasks</h3>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Inserted</th>
        <th>Elapsed</th>
        <th>Task</th>
        <th>Last update</th>
        <th>Sch</th>
        <th>Server</th>
        <th>Kill</th>
    </tr>
    <tr ng-repeat="ex in liveexecutions | orderBy: '-ID'">
        <td>
            <span class="label label-info">
                {{ex.ID}}
            </span>
        </td>

        <td>
            <span class="label label-info">
                {{ex.Inserted | date:'medium'}}
            </span>
        </td>

        <td>
            <span class="label label-info">
                {{nowTime | amDifference : ex.Inserted : 'minutes' }} minutes
            </span>
        </td>

        <td>
            <a href="#!/task/{{ex.TaskID}}">
                <div class="row">
                    <div class="span4">
                        <span class="label label-info">
                            {{findTaskByID(ex.TaskID).Name}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <span class="label label-info">
                            {{findTaskByID(ex.TaskID).Type}} ({{findTaskByID(ex.TaskID).ID}})
                        </span>
                    </div>
                </div>
            </a>
        </td>

        <td>
            <span class="label label-info">
                <span am-time-ago="ex.LastUpdate"></span>
            </span>
        </td>

        <td>
            <span ng-show="ex.ScheduleID == undefined">
                <img src="imgs/overcome.png" title="Direct" />
            </span>
            <span ng-show="ex.ScheduleID != undefined">
                <a href="#!/schedule/{{ex.ScheduleID}}">
                   <img src="imgs/stopw_30.png"/>
               </a>
            </span>
        </td>

        <td>
            <a href="#!/server/{{ex.ServerID}}">
                <span ng-class="(findServerByID(ex.ServerID).Status > 0) ? 'label label-success' : 'label label-default'">
                    {{findServerByID(ex.ServerID).HostName}} ({{ex.ServerID}})
                </span>
            </a>
        </td>

        <td>
            <button type="button" class="btn btn-danger" ng-click="abort(ex.ID, ex.ServerID)">Abort</button>
        </td>
    </tr>
</table>

<h3>Completed tasks</h3>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Inserted</th>
        <th>Terminated</th>
        <th>Elapsed</th>
        <th>ReturnCode</th>
        <th>Task</th>
        <th>Sch</th>
        <th>Server</th>
    </tr>
    <tr ng-repeat="ex in deadexecutions | orderBy: '-LastUpdate'">
        <td>
            <img ng-src="{{imgStatus(ex.Status)}}" title="{{textStatus(ex.Status)}}" />
        </td>

        <td>
            <span ng-class="(ex.Status > 0) ? 'label label-success' : 'label label-danger'">
                {{ex.ID}}
            </span>
        </td>

        <td>
            <span ng-class="(ex.Status > 0) ? 'label label-success' : 'label label-danger'">
                {{ex.Inserted | date:'medium'}}
            </span>
        </td>

        <td>
            <span ng-class="(ex.Status > 0) ? 'label label-success' : 'label label-danger'">
                <span am-time-ago="ex.LastUpdate"></span>
            </span>
        </td>

        <td>
            <span ng-class="(ex.Status > 0) ? 'label label-success' : 'label label-danger'">
                {{ex.LastUpdate | amDifference : ex.Inserted : 'seconds' }} seconds
            </span>
        </td>

        <td>
            {{ex.ReturnCode}}
        </td>

        <td>
            <a href="#!/task/{{ex.TaskID}}">
                <div class="row">
                    <div class="span4">
                        <span class="label label-info">
                            {{findTaskByID(ex.TaskID).Name}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <span class="label label-info">
                            {{findTaskByID(ex.TaskID).Type}} ({{findTaskByID(ex.TaskID).ID}})
                        </span>
                    </div>
                </div>
            </a>
        </td>

        <td>
            <span ng-show="ex.ScheduleID == undefined">
                <img src="imgs/overcome.png" title="Direct" />
            </span>
            <span ng-show="ex.ScheduleID != undefined">
                <a href="#!/schedule/{{ex.ScheduleID}}">
                   <img src="imgs/stopw_30.png"/>
               </a>
            </span>
        </td>

        <td>
            <a href="#!/server/{{ex.ServerID}}">
                <span ng-class="(findServerByID(ex.ServerID).Status > 0) ? 'label label-success' : 'label label-default'">
                    {{findServerByID(ex.ServerID).HostName}} ({{ex.ServerID}})
                </span>
            </a>
        </td>
    </tr>
</table>
