        <h2><span class="label label-info">
                [{{task.ID}}] {{task.Name}}
            </span>
        </h2>
        <h4><span class="label label-default">
                {{task.Type}}
            </span>
        </h4>

        <h4>
            <input ng-model="cron" placeholder="Cron">
        </h4>

        <h4>
            Enabled: <input type="checkbox" ng-model="enabled">
        </h4>


        <button type="button" ng-class="buttonClass" ng-disabled="isButtonDisabled()" ng-click="submitForm()">Create schedule</button>
        <img src="imgs/spinning_20.gif" ng-hide="!createInProgess" />

        <h2>
            <span class="label label-danger">{{errorMessage}}</span>
        </h2>
