<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th></th>
            <th>Cron</th>
            <th>Task</th>
            <th>Last Fired</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sched in schedules">
           <td>
               <a href="#!/schedule/{{sched.ID}}">
                   <img src="imgs/stopw_30.png"/>
               </a>
           </td>

            <td>
                <input type="button" ng-class="getButtoncClass(sched.ID)" ng-disabled="isButtonDisabled(sched.ID)" value="Remove" ng-click="removeSchedule(sched.ID)">
            </td>

            <td>
                <span ng-class="(sched.Enabled === 300) ? 'label label-success' : 'label label-default'">
                    {{sched.Cron}}
                </span>
            </td>

            <td>
                <a href="#!/task/{{sched.TaskID}}">
                    <div class="row">
                        <div class="span4">
                            <span class="label label-info">
                                {{findTaskByID(sched.TaskID).Name}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <span class="label label-info">
                                {{findTaskByID(sched.TaskID).Type}} ({{findTaskByID(sched.TaskID).ID}})
                            </span>
                        </div>
                    </div>
                </a>
            </td>

            <td>
                <span class="label label-default">{{sched.LastFired | date:'medium'}}</span>
            </td>
        </tr>
    </tbody>
</table>
